@page "/debug"

@using System.Text.Json.Serialization;
@inject HttpClient Http

<button @onclick="Submit">Submit</button>
<select name="eventType" id="event-select" @bind="testEvent.EventType">
    <option value="">--Choose an event to send to the client--</option>
    <option value="comment">PR Comment</option>
    <option value="check">Check Failure</option>
</select>

@code
{
    private TestEvent testEvent = new TestEvent();

    async Task Submit()
    {
        await Http.PostAsJsonAsync("Debug/TestEvent", testEvent);
    }
}