@page "/"
@inject IJSRuntime JS;
@inject NavigationManager NavigationManager
@inject HostAuthenticationStateProvider AuthStateProvider
@inject HttpClient Http
@using Microsoft.AspNetCore.SignalR.Client

<AuthorizeView>
    <Authorized>
        Notifications: @permission, Hub connected: @IsConnected
        <div style="height: 75%;">
            <h2>Comments</h2>
            <div id="commentList" class="list-group" style="overflow-wrap: anywhere;">
                @foreach (var comment in commentLookup.Values.OrderByDescending(c => c.sortDate))
                {
                    <CommentItem Comment="@comment"></CommentItem>
                }
            </div>
        </div>
        <div>
            <h2>Check Failures</h2>
            <ul id="messagesList">
                @foreach (var message in checks)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        Please Log in.
    </NotAuthorized>
</AuthorizeView>


@code {
    private string permission;
    private string icon = "images/github.png";
    private object notif;

    private async Task RequestPermission()
    {
        try
        {
            await JS.InvokeAsync<object>("requestPermission");
        }
        catch (Exception)
        { }
    }

    private void ClearComments()
    {
        commentLookup.Clear();
        StateHasChanged();
    }

    private void ClearChecks()
    {
        checks.Clear();
        StateHasChanged();
    }

    private async Task CreateNotifcationAsync(DateTime updated, string id, string title, string body, string url)
    {
        var options = new
        {
            Body = body,
            Icon = icon,
            Renotify = true, // By default a notification is not overwritten, so there can only be one.
            RequireInteraction = false,
            Tag = id,
            TimeStamp = updated,
            Uri = url
        };
        try
        {
            notif = await JS.InvokeAsync<object>("createNotification", title, options);
        }
        catch (Exception)
        { }
    }

    private HubConnection hubConnection;
    private List<string> checks = new(30);
    private Dictionary<string, ClientComment> commentLookup = new();
    private TableClient tableClient = null;
    protected override async Task OnInitializedAsync()
    {       
        permission = await GetPermissionState();
        if (permission != "granted")
        {
            await RequestPermission();
        }

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/notificationshub"))
        .Build();

        hubConnection.On<DateTime, string, string, string, string>("CheckStatus", (updated, id, title, message, url) =>
        {
            var encodedMsg = $"{title}: {message}";
            checks.Add(encodedMsg);
            StateHasChanged();
            CreateNotifcationAsync(updated, id, title, message, url).GetAwaiter().GetResult();
        });

        hubConnection.On<ClientComment>("NewComment", async (comment) =>
        {
            await AddComment(comment);
            StateHasChanged();
            CreateNotifcationAsync(comment.created,comment.id,comment.title, $"@{comment.author}: {comment.body}",comment.uri).GetAwaiter().GetResult();
        });

        var AuthState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (!IsConnected && AuthState.User.Claims.Any())
        {
            await Connect();
        }

        try
        {
            var stringResult = await Http.GetStringAsync("Comment/GetSasUrl");
            var url = new Uri(stringResult);
            tableClient = new TableClient(url, new AzureSasCredential(url.Query), null);
            await LoadComments();
        } catch {}
    }

    async Task LoadComments()
    {
        var ago = DateTime.UtcNow.AddDays(-2);
        var comments = new List<ClientComment>();
        await foreach (PRComment comment in tableClient.QueryAsync<PRComment>(c => c.Created >= ago))
        {
            var cc = new ClientComment { 
                author = comment.Author,
                body = comment.Body,
                created = comment.Created,
                id = comment.RowKey,
                parentId = comment.ParentId,
                parentAuthor = comment.ParentAuthor,
                title = comment.PrTitle,
                uri = comment.Uri };

            comments.Add(cc);

            if (null == cc.parentId || "0" == cc.parentId )
            {
                commentLookup[cc.id] = cc;
            }
        }

        foreach(var comment in comments)
        {
            await AddComment(comment);
        }
        StateHasChanged();
    }

    async Task AddComment(ClientComment comment)
    {
        comment.created = comment.created.ToLocalTime();
     
        if (commentLookup.TryGetValue(comment.parentId, out var parent))
        {
            parent.replies ??= new List<ClientComment>();
            parent.replies.Add(comment);
            if (comment.created > parent.sortDate)
            {
                parent.sortDate = comment.created;
            }
        }
        else 
        {
            try
            {
                PRComment parentFromTable = await tableClient.GetEntityAsync<PRComment>(comment.parentAuthor, comment.parentId);
                commentLookup[parentFromTable.RowKey] = new ClientComment { 
                                                author = parentFromTable.Author,
                                                body = parentFromTable.Body,
                                                created = parentFromTable.Created,
                                                id = parentFromTable.RowKey,                                                    
                                                title = parentFromTable.PrTitle,
                                                uri = parentFromTable.Uri };
            } catch {}
        }        
    }

    async Task Connect() { await hubConnection.StartAsync(); }

    async Task<string> GetPermissionState() => await JS.InvokeAsync<string>("currentPermission");

    public bool IsConnected =>
    hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync() { await hubConnection.DisposeAsync(); }
}