<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=https://localhost:5001/">Log in</a>
    </NotAuthorized>
</AuthorizeView>
