<AuthorizeView>
    <Authorized>
        <strong>Hello, @context.User.Identity.Name!</strong>
        <a href="auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="auth/signin">Log in</a>
    </NotAuthorized>
</AuthorizeView>