<AuthorizeView>
    <Authorized>
        <img src="@context.User.GetGitHubAvatar()" style="max-width: 25px;"/>
        <a href="auth/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="auth/signin">Log in</a>
    </NotAuthorized>
</AuthorizeView>